body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.light-mode {
  background-color: #5d75ad;
}

.dark-mode {
  background-color: #10123f;
}

.Codify {
  display: flex;
  align-items: flex-start;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 56px;
}

.logo h1 {
  margin-bottom: 0;
}

.logo img {
  width: 120px;
  height: 120px;
  margin-right: -30px;
  margin-left: -15px;
}

.main-section {
  display: grid;
  grid-template-columns: 65% 32%;
  grid-template-rows: 50px;
  grid-template-areas:
    "search calendar"
    "list calendar"
    "list calendar";
  width: 90%;
  height: 700px;
  max-height: fit-content;
  color: #10123f;
  margin-right: 10px;
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 20px;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-section.dark-mode {
  background-color: rgb(99 105 109 / 57%);
  color: white;
}

.main-section.light-mode {
  background-color: rgb(241, 245, 247);
}

.main-section .content {
  display: flex;
  height: 600px;
}
