.calendar {
  border-radius: 10px;
  padding: 10px;
  margin-right: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.8;
  grid-area: calendar;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-height: calc(100% - 30px);
}

.calendar.dark-mode {
  background-color: #6060607d;
  color: white;
}

.calendar.light-mode {
  background-color: white;
  color: black;
}

.calendar svg {
  font-size: 42px;
}

.calendar .name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar .name p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.calendar .name span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.calendar.dark-mode .react-calendar__navigation__label__labelText {
  color: #ffffff9c;
}

.calendar.dark-mode .react-calendar__month-view__weekdays {
  background: #6d68687d;
}

.calendar.calendar.dark-mode .react-calendar__month-view__days__day {
  color: white;
}
.calendar.calendar.dark-mode .react-calendar__month-view__days__day:hover {
  color: #1b2559;
}
.calendar.calendar.dark-mode .react-calendar__tile--now {
  color: black !important;
}
