.Home {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.progress-container div[role="progressbar"] {
  --size: 8rem;
  --pgPercentage: var(--value);
  animation: growProgressBar 2s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 200%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

body.light-mode .progress-container div[role="progressbar"] {
  --fg: #5d75ad;
  --bg: #f1edfc;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  /* content: counter(percentage) "%"; */
}

.daily-container {
  display: flex;
  gap: 10px;
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
}
.progress-container,
.current-task {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  justify-content: center;
  max-width: 290px;
}
.current-task {
  flex-grow: 0.8;
}
.current-task p span {
  display: inline-block;
  margin-right: 3px;
  letter-spacing: 0.5px;
}
body.light-mode .current-task a {
  text-decoration: none;
  color: #5d75ad;
}

body.light-mode .progress-container p {
  color: #6c757d;
}

body.light-mode .progress-container,
body.light-mode .current-task {
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.progress-container .legend {
  display: flex;
  font-size: 12px;
  gap: 16px;
  margin-top: 10px;
}
.progress-container .legend li {
  list-style: none;
}
.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}
/* legend colors */
body.light-mode .progress-container .legend .complete {
  background-color: #5d75ad;
}
body.light-mode .progress-container .legend .in-progress {
  background-color: #f1edfc;
}
/* Button group */

body.light-mode .button-group button {
  background-color: white;
  color: initial;
}

.button-group {
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .progress-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .progress-container div[role="progressbar"] {
    --size: 6rem;
  }

  .legend {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body.dark-mode .progress-container div[role="progressbar"] {
    --fg: #10123f;
    --bg: #5d75ad;
  }
  body.dark-mode .current-task a {
    text-decoration: none;
    color: #abadea;
  }
  body.dark-mode .progress-container p {
    color: white;
  }
  body.dark-mode .progress-container,
  body.dark-mode .current-task {
    background-color: #6060607d;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  body.dark-mode .progress-container .legend .complete {
    background-color: #10123f;
  }
  body.dark-mode .progress-container .legend .in-progress {
    background-color: #5d75ad;
  }
  body.dark-mode .button-group button {
    background: transparent;
    color: white;
  }
}
