.pie-chart,
.column-chart {
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  grid-area: list;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  overflow: auto;
  height: fit-content;
}
body.light-mode .pie-chart,
body.light-mode .column-chart {
  background-color: white;
  color: black;
}

.pie-chart {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
}
.column-chart {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  body.dark-mode .pie-chart,
  body.dark-mode .column-chart {
    background-color: #6060607d;
    color: white;
  }
}
