.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel .icons a {
  all: unset;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  width: 190px;
  margin-left: 5px;
}

.side-panel .icons div {
  all: unset;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  width: 190px;
  margin-left: 5px;
}

.side-panel [type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.side-panel label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
}

.side-panel label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.3s;
}

.side-panel input:checked + label {
  background: #bada55;
}

.side-panel input:checked + label:after {
  left: calc(100%);
  transform: translateX(-100%);
}

.side-panel label:active:after {
  width: 65px;
}

.side-panel .icons a:hover {
  background-color: #af90eb;
  border-radius: 10px;
}

.side-panel .icons a svg {
  margin-right: 16px;
  margin-left: 10px;
  font-size: 40px;
  padding: 8px;
}

.side-panel .icons div label {
  margin-right: 16px;
  margin-left: 10px;
  /* font-size: 40px; */
  padding: 8px;
}

.new-task {
  position: relative;
  height: 160px;
  width: 160px;
  background-color: #f1edfc;
  border-radius: 10px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-task button {
  position: absolute;
  bottom: 15px;
  background-color: #af90eb;
  color: white;
}

.new-task button:hover {
  color: white;
}

.new-task p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  color: black;
  width: 75%;
  text-align: center;
}

.new-task img {
  width: 140px;
  height: 140px;
  top: -70px;
  position: absolute;
}

.modal {
  color: black;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.401);
}
