.TodoList {
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  grid-area: list;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  overflow: auto;
}
.TodoList.dark-mode {
  background-color: #6060607d;
  color: white;
}
.TodoList.light-mode {
  background-color: white;
  color: black;
}

.TodoList .search-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.TodoList.light-mode .search-container p {
  color: black;
}
.TodoList.dark-mode .search-container p {
  color: #ffffff9c;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-items .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
