.TodoList {
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  grid-area: list;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  overflow: auto;
}
body.light-mode .TodoList {
  background-color: white;
  color: black;
}

.TodoList .search-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

body.light-mode .TodoList .search-container p {
  color: black;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-items .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .list-items {
    max-height: 300px;
    overflow-y: auto;
  }
  .list-items .empty {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
  .TodoList {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body.dark-mode .TodoList {
    background-color: #6060607d;
    color: white;
  }
  body.dark-mode .TodoList .search-container p {
    color: #ffffff9c;
  }
}
